.layer {
	box-sizing: border-box;
	position: absolute;
}

.layer_note {
	background-color: #bbb solid; 
	border: 1px #bbb solid; 
	width: inherit; 
	display: flex;
}

.layer_note[checked='true'] {
	background-color: rgb(104, 100, 100); 
}

#workspace {
	display: flex;
	width: 500px;
	height: 500px;
	margin: auto;
	overflow: hidden;
	border: 3px #bbb solid;
}

#layer-control-panel {
	display: block;
	width: 200px;
	height: 400px;
	/* margin: auto; */
	border: 3px #bbb solid;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: normal;
}