@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");

/* colors https://colorscheme.ru/#3r11TaqvKw0w0 */
html,
body {
    background: #d9d9d9;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Mukta", sans-serif;
}

#preloader {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    z-index: 100;
}

label[for=delete-all-input]  {
    display: none;
    left: 50px;
    top: 240px;
    position: absolute;
}
#delete-all-input {
    display: none;
    top: 243px;
    left: 30px;
    position: absolute;
}

#spinner {
    content: " ";
    position: fixed;
    width: 50px;
    height: 50px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border-radius: 50%;
    border: 4px solid #ffffff;
    border-bottom-color: #1c87c9;
    border-top-color: #1c87c9;
    animation: preloader 1.2s infinite linear;
}
@keyframes preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#account-panel {
    display: flex;
    position: relative;
    float: right;
    width: 200px;
    height: 100%;
    border-left: 1px solid;
    justify-content: center;
    align-items: center;
}

header {
    background: white;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 11;
}

td {
    text-align: center;
}

.drop-list {
    width: 80px;
    height: 100%;
    display: flex;
    float: left;
    font-family: "Mukta", sans-serif;
}

.drop-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    font-size: 18px;
    color: black;
    transition: background 0.2s ease-out, color 0.2s ease-out;
}

.drop-button:hover {
    background: #4c6976;
    color: white;
}

.drop-moving-button {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: white;
    border-bottom: 1px solid black;
    font-size: 14px;
    transition: background 0.2s ease-out, color 0.2s ease-out;
}

.drop-moving-button:hover {
    background: #6e909f;
    color: white;
}

.drop-content {
    display: block;
    position: absolute;
    background: #f1f1f1;
    text-align: center;
    width: 78px;
    max-height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
    top: 40px;
    border: 1px solid black;
    border-bottom: 0px;
    transform: scale(0.01);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease,
        box-shadow 0.3s ease 0.15s;
    transform-origin: center top;
    overflow: hidden;
}

.drop-content.open {
    transform: scale(1);
    opacity: 1;
    box-shadow: 3px 3px 30px rgba(118, 96, 168, 0.15);
}

.selected {
    background: #4c6976;
    color: white;
}

.file-menu-panel {
    width: 25%;
    height: 200px;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: 0;
    background: white;
}

#user-files {
    background-color: whitesmoke;
    width: 500px;
    height: 300px;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: 20;
    background: white;
}

.file-menu-form {
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
    background: white;
}

.moveable-part-file-menu {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    background: white;
}

.close-menu-button {
    margin-left: 94%;
    width: 5px;
    height: 90%;
}

.ok-button {
    margin-left: 70%;
    margin-top: 2%;
    width: 60px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

#control-panel {
    width: 100%;
    height: 32px;
    background-color: white;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    position: absolute;
    z-index: 10;
}

#stroke-width {
    color: black;
}

#width-parameter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
    height: 20px;
    display: none;
    margin-left: 100px;
}

#width-slider {
    width: 150px;
    height: 7px;
    border-radius: 5px;
    accent-color: #0c76da;
}

#width-slider-value {
    color: black;
    display: inline-block;
    text-align: center;
    border: 0px solid;
    width: 50px;
    height: 20px;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

.tool-button {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px auto;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    transition: background-color 0.2s ease-out;
    border-radius: 15%;
    display: flex;
    border: 1px solid;
}

.active{
    border: 3px solid #0d93db !important;
}

.delete-page-button{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 30px;
    left: 50px;
    background-image: url("/static/svg_editor/icons/x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: background-color 0.3s;
}

.delete-page-button:hover {
    background-color: rgba(249, 200, 158, 0.522);
    transition: background-color 0.3s;
}

#cursor-tool {
    background-image: url("/static/svg_editor/icons/cursor.svg");
}

#move-tool {
    background-image: url("/static/svg_editor/icons/move.svg");
}

#pencil-tool {
    background-image: url("/static/svg_editor/icons/pencil.svg");
}

#line-tool {
    background-image: url("/static/svg_editor/icons/line.svg");
    transform: scale(1, -1);
}

#polygon-tool {
    background-image: url("/static/svg_editor/icons/polygon.svg");
    background-size: 35px;
}

#path-tool {
    background-image: url("/static/svg_editor/icons/path.svg");
}

#text-tool {
    background-image: url("/static/svg_editor/icons/text.svg");
    background-size: 20px;
}

#rect-tool {
    background-image: url("/static/svg_editor/icons/rect.svg");
    background-size: 30px;
}

#ellipse-tool {
    background-image: url("/static/svg_editor/icons/ellipse.svg");
    background-size: 30px;
}

#fill-tool {
    background-image: url("/static/svg_editor/icons/fill.svg");
    background-size: 30px;
}

#eraser-tool {
    background-image: url("/static/svg_editor/icons/eraser.svg");
}

#rotate-tool {
    background-image: url("/static/svg_editor/icons/rotate.svg");
}

#deform-tool {
    background-image: url("/static/svg_editor/icons/deform.svg");
}

#scale-tool {
    background-image: url("/static/svg_editor/icons/scale.svg");
}

#split-tool {
    background-image: url("/static/svg_editor/icons/split.svg");
}

#skew-tool {
    background-image: url("/static/svg_editor/icons/skew.svg");
}

#mirror-tool {
    background-image: url("/static/svg_editor/icons/mirror.svg");
}

#compress-tool {
    background-image: url("/static/svg_editor/icons/compress.svg");
}

#star-tool {
    background-image: url("/static/svg_editor/icons/star.svg");
}

#tools-panel {
    background-color: white;
    width: 40px;
    height: 100%;
    align-content: center;
    top: 23.5px;
    position: absolute;
    z-index:10;
    border-right: 1px solid #3e3e3e;
}

#tools-choosing {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
}

.tool-clicked {
    background-color: #0c76da;
    transition: background-color 0.2s ease-out;
}

.hidden-tools {
    width: 125px;
    border: 1px solid;
    margin-left: 38px;
    position: absolute;
    background-color: white;
    z-index: 10;
    transform: scale(0.01);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: left top;
}

.hidden-tools.open {
    transform: scale(1);
    opacity: 1;
}

#geometry.hidden-tools {
    height: 36px;
    margin-top: -40px;
}

#manage.hidden-tools {
    margin-top: -40px;
    height: 83px;
}

.hidden-tools .tool-button {
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
}

#color-choosing {
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: 60px;
}

.box {
    width: 30px;
    height: 30px;
}

#color-choosing-box-sub {
    position: relative;
    margin-left: 0 auto;
    top: 10px;
    z-index: 1;
    
}

#color-choosing-box-main {
    position: relative;
    margin-left: 0 auto;
    top: 5px;
    z-index: 2;
}

#filling-type {
    height: 20px;
    width: 100px;
    position: absolute;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

.vertical-divider {
    background-color: #3e3e3e;
    width: 90%;
    height: 2px;
    margin: auto;
    opacity: 0.5;
}

#easel {
    width: 70%;
    height: 75%;
    position: relative;
    margin: 10px 100px 0 100px;
    z-index: 0;
    top: 70px;
}

#workspace {
    width: 100%;
    height: 100%;
    background: white;
}

#addition-panel {
    background: white;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 23px;
    right: 0px;
    align-content: center;
    justify-content: center;
    border: 1px solid #3e3e3e;
    border-right: 0px;
}

#layers-panel-content {
    width: 20em;
    height: 80%;
    display: inline-block;
    position: absolute;
    border: 1px solid #3e3e3e;
    transform: scale(0.01);
    right: 40px;
    top: 0;
    background-color: white;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease,
        box-shadow 0.3s ease 0.15s;
    transform-origin: right top;
    overflow: hidden;
}

#layers-panel-content.open {
    transform: scale(1);
    opacity: 1;
}

#layers-panel-button {
    background-image: url("/static/svg_editor/icons/layers.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

#layers-panel-choosing {
    background: white;
    width: 90%;
    height: 70%;
    margin: 5%;
    border: solid 1px #3e3e3e;
    overflow-y: scroll;
    overflow-x: hidden;
}

#layers-panel-control {
    background: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 18px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.layers-panel-control-button {
    width: 20px;
    height: 20px;
    border-radius: 15%;
    margin-right: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

#createLayerButton {
    background-image: url("/static/svg_editor/icons/plus.svg");
    margin-left: 5px;
}

#deleteLayerButton {
    background-image: url("/static/svg_editor/icons/x.svg");
}

.layer {
    width: 100%;
    height: 20%;
    align-items: center;
    display: flex; 
    border-bottom: 1px solid black;
}

#workspace .non_displayable{
    display: none; 
}

.layer-button {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    border: 0;
}

.layer_note {
    width: 100%;
    height: 35px;
    border: 1px solid #3e3e3e;
    background: linear-gradient(to left, white 50%, #ffc673 50%) right;
    background-size: 200%;
    transition: 0.3s ease;
    transition-property: background;
    display: flex;
    flex-direction: column;
}

.note_top, .note_bottom {
    width: 100%; 
    height: 20px;
}
 
.active_note {
    background-color: #2f2f2f;
    background-position: left;
}

#pages-panel{
    background: white;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #3e3e3e;
    z-index: 11;
}

#pages-choosing{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page-node{
    position: relative;
    width: 70px;
    height: 50px;
    text-align: center;
    display: flex;
    float: left;
    margin-left: 10px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    transition: background-color 0.2s ease-out;
    border-radius: 15%;
    border: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 50%;
    transform: translateY(-50%);
}

.is-valid {
    border: 3px solid #08ec17!important;
}

.is-invalid {
    border: 3px solid #ec081b!important;
}



