@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");

/* colors https://colorscheme.ru/#3r11TaqvKw0w0 */
html,
body {
    background: #d9d9d9;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

/* #file {
	width: 630px;
	padding-top: 30px;
}

#downloadButton{

	width: 240px;
}

a {
	text-decoration: none;
	color: black;
}

.layer {
	box-sizing: border-box;
	position: absolute;
}

.layer_note {
	background-color: #bbb solid; 
	border: 1px #bbb solid;
	height: 20px;
	width: inherit; 
	display: flex;
}

.layer_note[checked='true'] {
	background-color: rgb(104, 100, 100); 
}

.layer_note label {
	margin: auto; 
	user-select: none;
	pointer-events: none;
}

.unactive {
	pointer-events: none;
}

.hovered{
	border-bottom-width: 5px;
	border-bottom-color: black;
}

#layer_panel {
	display: block;
	width: 200px;
	height: 400px;
	border: 3px #bbb solid;
	overflow-x: hidden;
	overflow-y: scroll;
}

.panel {
  height: 100px;
  width: 450px;
  place-items: center;
  background: #ccc;
  border-radius: 10px;
  position: relative;
  overflow: auto;
  padding: 30px;
}

#target {
  background-color: #555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
  #target:hover {
  background-color: #4b4b4b;
}

#list_svg {
  list-style: none;
  font: 16px;
  padding: 0;
}

.inner_list_svg {
  list-style-type: circle;
}
*/

header {
    background: white;
    width: 100%;
    height: 40px;
}

td {
    text-align: center;
}

.drop-list {
    width: 80px;
    height: 100%;
    display: flex;
    float: left;
    font-family: "Mukta", sans-serif;
}

.drop-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    font-size: 18px;
    color: black;
    transition: background 0.2s ease-out, color 0.2s ease-out;
}

.drop-button:hover {
    background: #4c6976;
    color: white;
}

.drop-moving-button {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: white;
    border-bottom: 1px solid black;
    font-size: 14px;
    transition: background 0.2s ease-out, color 0.2s ease-out;
}

.drop-moving-button:hover {
    background: #6e909f;
    color: white;
}

.drop-content {
    display: block;
    position: absolute;
    background: #f1f1f1;
    text-align: center;
    width: 78px;
    max-height: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 40px;
    border: 1px solid black;
    border-bottom: 0px;
    transform: scale(0.01);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease,
        box-shadow 0.3s ease 0.15s;
    transform-origin: center top;
    overflow: hidden;
}

.drop-content.open {
    transform: scale(1);
    opacity: 1;
    box-shadow: 3px 3px 30px rgba(118, 96, 168, 0.15);
}

.selected {
    background: #4c6976;
    color: white;
}

.file-menu-panel {
    background-color: whitesmoke;
    width: 25%;
    height: 25%;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: 0;
    background: white;
}

.file-menu-form {
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
    background: white;
}

.moveable-part-file-menu {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    background: white;
}

.close-menu-button {
    margin-left: 94%;
    width: 5%;
    height: 90%;
}

.ok-button {
    margin-left: 70%;
    margin-top: 2%;
    width: 20%;
    height: 12%;
    text-align: center;
    vertical-align: middle;
}

#control-panel {
    color: red;
    width: 100%;
    height: 30px;
    border: 1px solid black;
}

#stroke-width {
    color: black;
}

#width-parameter {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 320px;
    height: 20px;
    display: none;
    margin-left: 100px;
}

.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider-value {
    color: black;
    display: inline-block;
    text-align: center;
    border: 0px solid;
    width: 50px;
    height: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(62, 62, 194);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(62, 62, 194);
    cursor: pointer;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

.tool-button {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px auto;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    transition: background-color 0.2s ease-out;
    border-radius: 15%;
}

#cursorTool {
    background-image: url("/static/svg_editor/icons/cursor.svg");   
}

#pencilTool {
    background-image: url("/static/svg_editor/icons/pencil.svg");
}

#lineTool {
    background-image: url("/static/svg_editor/icons/line.svg");
    transform: scale(1, -1);
}

#tools-panel {
    background-color: white;
    width: 40px;
    height: 100%;
    align-content: center;
    float: left;
}

#tools-choosing {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
}

.tool-clicked {
    background-color: #0c76da;
    transition: background-color 0.2s ease-out;
}

#clear-button {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    display: inline-block;
}

#color-choosing {
    position: relative;
    margin: 0 auto;
    margin-top: 30%;
    width: 90px;
    height: 90px;
}

.box {
    width: 60px;
    height: 60px;
}

#color-choosing-box-sub {
    position: absolute;
    left: 25%;
    top: 30%;
    z-index: 1;
}

#color-choosing-box-main {
    position: absolute;
    left: 5%;
    z-index: 2;
}

#filling-type {
    height: 50%;
    width: 100%;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    display: none;
    vertical-align: middle;
}

#workspace {
    width: 900px;
    height: 600px;
    margin: 10px 100px 0 100px;
    border: 1px solid black;
    position: relative;
    background: white;
}

#addition-panel {
    background: white;
    width: 300px;
    height: 100%;
    align-content: center;
    position: flex;
    float: right;
    overflow: hidden;
}

#layers-panel {
    background: white;
    width: 90%;
    height: 30%;
    margin: 5%;
    border: solid 2px black;
}

#layers-panel-control {
    background: rgb(142, 142, 142);
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.layers-panel-control-button {
    width: 5%;
    height: 90%;
}

.layers-panel-control-button.new {
    margin-left: 85%;
}

.layers-panel-control-button.delete {
    margin-left: 1%;
}

.layer {
    width: 100%;
    height: 20%;
    align-items: center;
    display: flex;
    border-bottom: 1px solid black;
}

.layer-button {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    border: 0;
}
