input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html,
body {
    background: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
}

.parent-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCD7E4; /*fallback */
    background-image: linear-gradient(to right top, #5b7dab, #708db6, #859ec0, #9aafcb, #afc0d6, #b2c6da, #b6ccde, #bad2e1, #abcedc, #9ccbd5, #8ec7cb, #84c3be);
    background-size: 400vw 400vh;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.wrapper-login {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.form {
    padding: 30px;
}

.form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .input-field {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    position: relative;
    color: #CCD7E4;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border: 1px solid #CCD7E4;
}

.check {
    margin-top: 20px;
}

.signup {
    margin-top: 6px;
}

.check-text {
    color: #828A95;
}

.form .button {
    margin-top: 30px;
}

.form .button input,
#createFileButton,
.box .input-file+label,
#target,
#openButton {
    border: none;
    background-color: #828A95;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.button input:hover,
#createFileButton:hover,
.box .input-file:focus+label,
.box .input-file+label:hover,
#target:hover,
#openButton:hover {
    background-color: #767D87;
}

#createFileButton {
    margin-top: 0;
    height: 30px;
    width: 80px;
}

#target {
    margin-top: 0;
    margin-right: 4px;
    height: 30px;
    width: 90px;
}

#openButton {
    margin-top: 0;
    height: 30px;
    width: 70px
}

.shapes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.shapes li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(96, 183, 199, 0.1);
    animation: animate 25s linear infinite;
    bottom: -160px;
}

.shapes li:nth-child(1) {
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 22s;
    background-image: url("../icons/pencil-start.svg");
}

.shapes li:nth-child(2) {
    left: 22%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
    animation-duration: 22s;
    background-image: url("../icons/shape.svg");
}

.shapes li:nth-child(3) {
    left: 35%;
    width: 105px;
    height: 105px;
    animation-delay: 7s;
    animation-duration: 22s;
    background-image: url("../icons/rotate-right.svg");
    border-top-left-radius: 0 !important;
}

.shapes li:nth-child(4) {
    left: 47%;
    width: 55px;
    height: 55px;
    animation-delay: 2s;
    animation-duration: 18s;
    background-image: url("../icons/transform-tool.svg");
    border-top-left-radius: 0 !important;
}

.shapes li:nth-child(5) {
    left: 60%;
    width: 33px;
    height: 33px;
    animation-delay: 6s;
    animation-duration: 30s;
    background-image: url("../icons/triangle.svg");
}

.shapes li:nth-child(6) {
    left: 72%;
    width: 90px;
    height: 90px;
    animation-delay: 3s;
    animation-duration: 22s;
    background-image: url("../icons/eraser-start.svg");
    border-top-left-radius: 0 !important;
}

.shapes li:nth-child(7) {
    left: 85%;
    width: 50px;
    height: 50px;
    animation-delay: 7s;
    animation-duration: 22s;
    background-image: url("../icons/toolkit.svg");
}

.shapes li:nth-child(8) {
    left: 95%;
    width: 35px;
    height: 35px;
    animation-delay: 9s;
    animation-duration: 33s;
    background-image: url("../icons/square.svg");
}

.shapes li:nth-child(9) {
    left: 5%;
    width: 40px;
    height: 40px;
    animation-delay: 12s;
    animation-duration: 31s;
    background-image: url("../icons/hexagon.svg");
}

@-webkit-keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: translateY(-60vh) rotate(360deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-120vh) rotate(720deg);
        opacity: 0;
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: translateY(-60vh) rotate(360deg);
        opacity: 0.15;
    }

    100% {
        transform: translateY(-120vh) rotate(720deg);
        opacity: 0;
    }
}

.input-field-start {
    margin-top: 3px;
    height: 40px;
    width: 100%;
    position: relative;
    display: flex;
}

.input-field-start label {
    margin-top: 1px;
    margin-right: 5px;
}

.input-field-start input {
    position: relative;
    outline: none;
    border: 1px solid #CCD7E4;
    border-right: none;
    padding: 0 4px;
    height: 28px;
}

select::-ms-expand {
    display: none;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select-trigger {
    position: relative;
    display: block;
    width: 70px;
    height: 28px;
    padding: 0 40px 0 4px;
    background-color: transparent;
    border: 1px solid #CCD7E4;
    border-left: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.custom-select-trigger::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 50px;
    top: 3px;
    right: 50px;
    margin-top: -3px;
    transition: all 0.35s ease;
    transform-origin: 50% 0;
}

.custom-select-trigger::after {
    position: absolute;
    display: inline;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-bottom: 2px solid #CCD7E4;
    border-right: 2px solid #CCD7E4;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0%;
    right: 0;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
    box-sizing: border-box;
    background: #828A95;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    border: 0;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(-8px);
}

.option-hover::before {
    background: #828A95;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 12px;
    font-weight: 100;
    color: #fff;
    line-height: 27px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.custom-option:hover,
.custom-option.selection {
    color: #fff;
    background-color: #767D87;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.inputfile+label {
    cursor: pointer;
    background-color: transparent;
    margin-top: -20px;
    display: grid;
    grid-auto-flow: column;
    gap: 0;
}

.inputfile:focus+label {
    border-color: #828A95;
}

.box label span {
    position: relative;
    float: left;
    margin-left: -31px;
    padding-left: 4px;
    border: 1px solid #CCD7E4;
    width: 240px;
    height: 28px;
    overflow: hidden;
}

.inputfile+label .choose {
    height: 30px;
    width: 140px;
    margin-right: 5px;
    margin-top: 0;
    padding-left: 15px;
    padding-top: 2px;
    color: #fff;
    border: none;
    background-color: #828A95;
    font-weight: 500;
    border-radius: 7px;
    transition: all 0.3s ease;

}

.inputfile:focus+label .choose,
.inputfile.has-focus+label .choose,
.inputfile+label:hover .choose {
    background-color: #767D87;
}

.buttons {
    padding-top: 4px;
}

.panel {
    max-height: 150px;
    overflow: auto;
    margin-top: 5px;
}

#list_svg {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background-color: #CCD7E4;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #828A95;
    border-radius: 10px;
}