input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html,
body {
    background: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

.parent-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCD7E4;
}

.wrapper-login {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper-email-complete {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-image: url("../icons/confetti-2596224.svg");
    background-repeat: no-repeat;
    background-position: 340px 10px;
}

.wrapper-email-done {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-image: url("../icons/watch.svg");
    background-repeat: no-repeat;
    background-position: 345px 10px;
}

.wrapper-email-incomplete {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-image: url("../icons/rain.svg");
    background-repeat: no-repeat;
    background-position: 345px 10px;
}

.wrapper-signup {
    position: relative;
    max-width: 900px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-signup form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.form1 {
    grid-column: 1;
}

.form {
    padding: 30px;
}


.form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .input-field {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    position: relative;
    color: #CCD7E4;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border: 1px solid #CCD7E4;
}

.is-valid {
    border: 1px solid #08ec17!important;
}

.is-invalid {
    border: 1px solid #ec081b!important;
}


.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 23px;
}

.input-field input:is(:focus, :valid) {
    border-color: #828A95;
}

.input-field input:is(:focus, :valid)~i {
    color: #828A95;
}

.input-field i.icon {
    margin-left: 5px;
}

.input-field #showHidePassword {
    right: 14px;
    bottom: 0;
    cursor: pointer;
}


.check {
    margin-top: 20px;
}

.signup {
    margin-top: 6px;
}

.check a {
    text-decoration: none;
}

.check a:hover {
    text-decoration: underline;
    color: #767D87;
}

.check-text {
    color: #828A95;
}

.check-text a {
    text-decoration: none;
}

.check-text a:hover {
    text-decoration: underline;
    color: #767D87;
}

.form .button {
    margin-top: 30px;
}

.form .button input {
    border: none;
    background-color: #828A95;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #767D87;
}

.instruction {
    font-size: 70%;
    font-weight: 600;
    color: #828A95;
    display: grid;
    margin-bottom: -5px;
}

.instruction br {
    display: block;
    content: "";
    margin-top: -10px;
}

.instruction ul {
    margin-left: -17px;
    margin-bottom: 1px;
}

.form-account {
    max-width: 900px;
}

.block {
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    margin-bottom:40px;
    font-size: 17px;
}

.block span, 
.block .icons {
    cursor: pointer;
    -moz-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.block .icons {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;

    margin: 10px;
    width: 137px;
    height: 110px;
}

.icons i {
    position: absolute;
    font-size: 70px;
    
}

.icon-default {
    transition: opacity .3s, transform .3s;
}

.icon-hover {
    transition: opacity .3s, transform .3s;
    transform: rotate(-180deg) scale(.5);
    opacity: 0;
}

.block .wrapper-block {
    transform: scale(1.2);
}

.block .wrapper-block:hover .icon-default {
    transform: rotate(180deg) scale(.5);
    opacity: 0;
}

.block .wrapper-block:hover .icon-hover {
    transform: rotate(0deg) scale(1);
    opacity: 1;
}

.form-account .blocks .block.ch-pw {
    float: left;
    width: 33%;
    
}

.form-account .blocks .block.logout {
    float: left;
    width: 33%;
}

.form-account .blocks .block.back {
    float: right;
    width: 33%;
}

.wrapper-block a {
    text-decoration: none;
}

.wrapper-block a:hover {
    text-decoration: underline;
    color: #767D87;
}