{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>SVG-Редактор</title>
	<!--    загружать статику нужно именно так-->
    <link rel="stylesheet" href="{% static 'svg_editor/css/main.css' %}? 202207141345">
    <script src="{% static 'svg_editor/js/main.js' %}? 202207141345"></script>
</head>
<style>
svg {
	border: 3px #bbb solid;
	margin: auto;
	background: #cfcfcf
}
label {
	font-size: 40px;
}
input {
	width: 85px;
	font-size: 40px;
}
button {
	height: 50px;
	font-size: 40px;
}
</style>
<body style="background: #ccc;
-webkit-touch-callout: none; -webkit-user-select: none;
-khtml-user-select: none; -moz-user-select: none;
-ms-user-select: none; user-select: none"
onmousedown="logMouseEvent(event)" onmouseup="logMouseEvent(event)" onmousemove="logMouseEvent(event)"
onmouseleave="breakDrawing()" onresize="resizeWindowEvent()">

	<h1>SVG Редактор</h1>
	<div style="display: flex; width: 100%; margin: auto">
		<svg id="canvas"/>
		<div onchange="changeToolEvent()">
			<input type="radio" name="toolChoice" value="pancil">
			<label>Карандаш</label><br>		
			<input type="radio" name="toolChoice" value="line">
			<label>Линия</label><br>	
			<input type="radio" name="toolChoice" value="polygon">
			<label>Полигон</label><br>
			
			<label>Цвет: </label>
			<input id="colorChoice" type="color"><br>
			<label>Заполнение фигур: </label>
			<input id="fillChoice" type="checkbox"><br>
			<label>Толщина линий: </label>
			<input id="widthChoice" type="number" min=1 value=3><p>
			<button id="clearCanvasButton">Отчистить холст</button>
		</div>
	</div><p>
	<label>Назовите свой файл: </label>
	<input id="fileNameInput" type="text" value="untitled" style="width: 300px"/>
	<label>.svg</label><p>
	<button id="saveFileButton">Сохранить файл</button>

	{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>// скрипт инициализации
		const draw = SVG(document.getElementById('canvas')).size(500, 500),
			toolMethods = {
				'pancil': {'down': pancilDown, 'move': pancilMove, 'up': pancilUp},
				'line': {'down': lineDown, 'move': lineMove, 'up': lineUp},
				'polygon': {'down': polygonDown, 'move': polygonMove, 'up': polygonUp},
			}
		var object, tool
		changeToolEvent()
		resizeWindowEvent()
		
		function breakDrawing() {
			if (object != null) {
				object.remove()
				object = null
			}
		}
		
		function resizeWindowEvent() {
			canvasRect = document.getElementById('canvas').getBoundingClientRect()
		}
		
		function changeToolEvent() {
			breakDrawing()
			for (const element of document.getElementsByName('toolChoice').values()) {
				if (element.checked) {
					tool = element.value
					break
				}
			}
			fillValue = document.getElementById('fillChoice').checked
			colorValue = document.getElementById('colorChoice').value
			widthValue = Math.max(1, document.getElementById('widthChoice').value)
		}
		
		function logMouseEvent(event) {
			if (event.which == 1 && tool in toolMethods && event.type.slice(5) in toolMethods[tool]) {
				x = event.x - canvasRect.x
				y = event.y - canvasRect.y
				if (event.type == 'mousedown') {
					if (0 <= x && x <= canvasRect.width &&
						0 <= y && y <= canvasRect.height) {
							toolMethods[tool][event.type.slice(5)](x, y)
						}
				} else {
					toolMethods[tool][event.type.slice(5)](x, y)
				}
			}
		}
		
		// <=><=><=><=><=>	скрипт инструмента карандаш <=><=><=><=><=>
		function pancilDown(x, y) {
			if (fillValue) {
				object = draw.polyline([[x, y]]).fill(colorValue)
			} else {
				object = draw.polyline([[x, y]]).fill('none').stroke({width: widthValue, color: colorValue})
			}
		}
		
		function pancilMove(x, y) {
			if (object != null) {
				object.plot(object.array().concat([[x, y]]))
			}
		}
	
		function pancilUp(x, y) {
			object = null
		}
		
		// <=><=><=><=><=>	скрипт инструмента линия <=><=><=><=><=>
		function lineDown(x, y) {
			object = draw.line(x, y, x, y).stroke({width: widthValue, color: colorValue})
		}
		
		function lineMove(x, y) {
			if (object != null) {
				object.plot([object.array()[0], [x, y]])
			}
		}
		
		function lineUp(x, y) {
			object = null
		}
		
		// <=><=><=><=><=>	скрипт инструмента полигон <=><=><=><=><=>
		function polygonDown(x, y) {
			if (object == null) {
				if (fillValue) {
					object = draw.polygon([[x, y], [x, y]]).fill(colorValue)
				} else {
					object = draw.polygon([[x, y], [x, y]]).fill('none').stroke({ width: widthValue, color: colorValue})
				}
			} else {
				object.plot(object.array().concat([[x, y]]))
			}
		}
		
		function polygonMove(x, y) {
			if (object != null) {
				object.plot(object.array().slice(0, -1).concat([[x, y]]))
			}
		}
		
		function polygonUp(x, y) {
			if (object != null && object.array().length > 2) {
				firstX = object.array()[0][0]
				firstY = object.array()[0][1]
				if ((firstX - x) ** 2 + (firstY - y) ** 2 <= 10 ** 2) {
					object.plot(object.array().slice(0, -2))
					object = null
				}
			}
		}
		
		// <=><=><=><=><=>	скрипт чистки холста и сохранения файла <=><=><=><=><=>
		$(document).ready(function () {
			$('#clearCanvasButton').click(function () {
				draw.clear()
				object = null
			})
            $('#saveFileButton').click(function () {
				breakDrawing();
                $.ajax({
                    data: {
						svg: draw.svg(),
						file_name: document.getElementById('fileNameInput').value,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
                    type: 'POST',
                    url: "{% url 'files_save' %}",
                    success: function (response) {
						alert('Поздравляем! Файл с названием ' + response.file_name + ' успешно создан!')
                    },
                    error: function (response) {
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
		})
	</script>
	{% endblock javascript %}
</body>
</html>
