{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<title>SVG-Editor</title>
	<link rel="stylesheet" href="{% static 'svg_editor/css/main.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{% static 'svg_editor/js/main.js' %}"></script>
</head>

<body>
	<header>
		<div class="drop-list">
			<div class="drop-button">File</div>
			<div class="drop-content">
				<div name="new-file" class="drop-moving-button">New</div>
				<div name="save-file" class="drop-moving-button">Save</div>
				<div name="download-file" class="drop-moving-button">Download</div>
				<div name="open-file" class="drop-moving-button">Open</div>
			</div>
		</div>
		<div class="drop-list">
			<div class="drop-button">Edit</div>
			<div class="drop-content">
				<div name="undo" class="drop-moving-button">Undo</div>
				<div name="redo" class="drop-moving-button">Redo</div>
			</div>
		</div>
	</header>
	<div id="control-panel">
		<div id="width-parameter">
			<label for="stroke-width" id="stroke-width">Stroke width:</label>
			<input type="range" name="stroke-width" min="1" max="10" value="1" step="0.1" class="slider">
			<input type="number" min="1" max="10" value="1" class="slider-value">
		</div>
	</div>
	<div id="new-menu" class="file-menu-panel">
		<div class="moveable-part-file-menu">
			<button class="close-menu-button"></button>
		</div>
		<div class="file-menu-form">
			<label for="filename">Name:</label>
			<input name="new-filename" type="text" value="untitled">
		</div>
		<div class="file-menu-form">
			<label for="width">Width:</label>
			<input name="width" type="number" value="0">
		</div>
		<div class="file-menu-form">
			<label for="height">Height:</label>
			<input name="height" type="number" value="0">
		</div>
		<button class="ok-button">OK</button>
	</div>
	<div id="save-menu" class="file-menu-panel">
		<div class="moveable-part-file-menu">
			<button class="close-menu-button"></button>
		</div>
		<div class="file-menu-form">
			<label>Name your file:</label>
			<input id="file_name" type="text" value="untitled">
			<label>.svg</label>
		</div>
		<button id="save-button">Save it!</button>
	</div>
	<div id="download-menu" class="file-menu-panel">
		<div class="moveable-part-file-menu">
			<button class="close-menu-button"></button>
		</div>
		<div class="file-menu-form">
			<label>Download file name:</label>
			<input type="text" id="download_file_name" value="untitled">
			<label>.svg</label>
		</div>
		<button id="download-button">Download it!</button>
	</div>
	<div id="open-menu" class="file-menu-panel">
		<div class="moveable-part-file-menu">
			<button class="close-menu-button"></button>
		</div>
		<div class="file-menu-form">
			<input type="file" id="file" />
		</div>
	</div>
	<div id="container">
		<div id="tools-panel">
			<div id="tools-choosing">
				<div id="cursorTool" class="tool-button" name="cursor"></div>
				<div id="pencilTool" class="tool-button" name="tool"></div>
				<div id="lineTool" class="tool-button"></div>
				<div id="polygonTool" class="tool-button"></div>
				<div id="fillTool" class="tool-button"></div>
				<div id="clear-button">Clear</div>
				<div id="color-choosing">
					<div id="color-choosing-box-main">
						<input id="color-main" class="box" type="color">
					</div>
					<div id="color-choosing-box-sub">
						<input id="color-sub" class="box" type="color">
					</div>
				</div>
				<div id="filling-type">
					<input id="fillbox" name="fill" type="checkbox" checked>
					<label for="fill">No fill</label>
				</div>
			</div>
		</div>
		<svg id="workspace" width="900" height="600"></svg>
		<div id="addition-panel">
			<div id="layers-panel">
				<div id="layers-panel-control">
					<button id="layers-panel-control-button" class="new"></button>
					<button id="layers-panel-control-button" class="delete"></button>
				</div>
				<div class="layer">
					<button class="layer-button">Layer 0</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>