{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
    <link rel="stylesheet" href="{% static 'svg_editor/css/main.css' %}?">
    <link rel="stylesheet" href="../svg_editor/static/svg_editor/css/main.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="parent-wrapper">
        <div class="wrapper">
            <div class="form">
                <div class="form-login">
                    <span class="title">Login</span>
                    <form action="#">
                        <div class="input-field"> 
                            <input type="text" placeholder="Имя пользователя" required>
                            <i class="uil uil-user icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Пароль" required>
                            <i class="uil uil-lock icon"></i>
                        </div>
                        <div class="check">
                            <a href="#" class="check-text">Forgot password?</a>
                        </div>
                        <div class="signup">
                            <span class="check-text">Don't have an account yet?
                                <a href="#" class="check-text signup-text">Sign up now!</a>
                            </span>
                        </div>
                        <div class="input-field button">
                            <input id="login-button" type="button" value="Log in to your account!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
