{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<p style="font-size: 25px; font-weight: bold">
New
<div style="padding-top: 50px"><label>Name your file: </label>
<input type="text" id="fileNameInput" value="untitled" style="width: 300px">
<select id="save_file_type" size=1>
    <option value="svg">.svg</option>
    <option value="yml">.yml</option>
</select>
</div>
<button id="create_file_button">Create</button>
</p>
<div class="panel">
		<button id="target">Reload</button>
		<button id="openButton">Open</button>
		<p id="text">Click on the Reload button to get a list of saved files!<p>
		<ul id="list_svg"></ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
<script src="{% static 'svg_editor/js/projectManager.js' %}? 20220714154345"></script>
<script src="{% static 'svg_editor/js/main.js' %}"></script>
<script src="{% static 'svg_editor/js/easel.js' %}"></script>
<script>
const token = "{{csrf_token}}",
			viewURL = "{% url 'files_view' %}";
</script>
</body>
</html>